## SQL Practice

> Authors: Caroline Schmitt & Katie Sylvia


In this lab, you're going to have ten prompts. Each prompt will require you to do two things:
1. Write a SQL query.
2. Use the result of that query to answer the question.

**Data**: The data used in this lab is the famous (but fake) Northwind database. It contains various tables of transactions. The schema for the Northwind database can be found [here](./assets/Northwind_ERD.png).

**Important**: The table and label names in the SQLite database are **slightly different than the ERD**. In particular, many of the tables names are singular where the ERD lists them as plural, e.g. the `Customers` table in the ERD is actually called `Customer` in the SQLite database. The instructions should provide the correct table names. The field names themselves should be correct.

You'll be using Python's `sqlite3` library this time. `sqlite3` comes with Python, so you shouldn't have to install anything. You will once again be passing queries into `pd.read_sql_query()` as strings. If you try to close the notebook and get an alert that there is still a connection to the database, you can run `con.close()` to close the connection. (Alternatively, it should be safe to force exit.)

In [1]:
import pandas as pd
from pandas.io import sql

import sqlite3

### Prompt 1

How many rows are there in the `Customer` table?

In [2]:
con = sqlite3.connect('data/Northwind_small.sqlite')

# modify this SQL query to answer the question
sql = """
SELECT *
FROM Customer;
"""

pd.read_sql_query(sql, con)

,Id,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,Western Europe,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,Central America,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,Central America,05023,Mexico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,British Isles,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,Northern Europe,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,Scandinavia,90110,Finland,981-443655,981-443655
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,South America,08737-363,Brazil,(14) 555-8122,None
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,North America,98128,USA,(206) 555-4112,(206) 555-4115
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,Scandinavia,21240,Finland,90-224 8858,90-224 8858
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,Eastern Europe,01-012,Poland,(26) 642-7012,(26) 642-7012

**Prompt 1 Answer**:

### Prompt 2

If you sort the customers in alphabetical order by name, which customer is fourth?

(You can answer this by retrieving the first four customers; you _do not_ need to retrieve only the 4th customer when customers are sorted alphabetically.)

In [3]:
con = sqlite3.connect('data/Northwind_small.sqlite')

sql = """

"""

pd.read_sql_query(sql, con)

TypeError: 'NoneType' object is not iterable

**Prompt 2 Answer**:

### Prompt 3

Among those customers who live in Germany, if you sort the customers in alphabetical order by name, which customer is fourth?

In [ ]:
# Use a SQL query to find the answer to the above prompt.
con = sqlite3.connect('data/Northwind_small.sqlite')

sql = """

"""

pd.read_sql_query(sql, con)

**Prompt 3 Answer**:

### Prompt 4

From the `Employee` table, what are the first names of the individuals who have a birthdate in the 1960s?

In [ ]:
# Use a SQL query to find the answer to the above prompt.
con = sqlite3.connect('data/Northwind_small.sqlite')

sql = """

"""

pd.read_sql_query(sql, con)

**Prompt 4 Answer**:

### Prompt 5

In `OrderDetail` table, what is the total number of units sold for products 2, 3, and 4? 

You should give us three numbers - one for each `ProductID`.

> You can solve this with either three separate queries, or with just one query.

In [ ]:
# Use a SQL query to find the answer to the above prompt.
con = sqlite3.connect('data/Northwind_small.sqlite')

sql = """

"""

pd.read_sql_query(sql, con)

**Prompt 5 Answer**:

### Prompt 6

From the `OrderDetail` table, calculate the revenue per product. In your SQL output, rename the revenue column `Revenue` and sort your results from largest revenue per product to smallest revenue per product. Which `ProductID` has the fifth-highest revenue, and what is that revenue rounded to the nearest dollar?

Note that revenue for a given product should be equal to the total unit price of that product times the quantity. You do not need to worry about the discount here. If you haven't multiplied columns together before, [this StackOverflow question](https://stackoverflow.com/questions/7536996/multiplying-two-columns-in-sql-server/7537059) may be helpful.

In [ ]:
# Use a SQL query to find the answer to the above prompt.
con = sqlite3.connect('data/Northwind_small.sqlite')

sql = """

"""

pd.read_sql_query(sql, con)

**Prompt 6 Answer**:

### Prompt 7

From the `Product` table, show the `ProductName`, `UnitsInStock`, and `UnitsOnOrder` values for those products who have more units on order than units in stock. Among these results, which product has the most units on order?

In [ ]:
# Use a SQL query to find the answer to the above prompt.
con = sqlite3.connect('data/Northwind_small.sqlite')

sql = """

"""

pd.read_sql_query(sql, con)

**Prompt 7 Answer**:

### Prompt 8

From the `OrderDetail` table, show the products that have an average discount of at least 8%. Among these results, which average discount is closest to 8%?

In [ ]:
# Use a SQL query to find the answer to the above prompt.
con = sqlite3.connect('data/Northwind_small.sqlite')

sql = """

"""

pd.read_sql_query(sql, con)

**Prompt 8 Answer**:

### Prompt 9

Return the `Orders` table, but also include the first name, last name, and country of the employee assigned to each order (you'll need the `Employee` table for this.) What is the first and last name of the employee assigned to OrderID 11077?

In [ ]:
con = sqlite3.connect('data/Northwind_small.sqlite')

sql = """

"""

pd.read_sql_query(sql, con)

**Prompt 9 Answer**:

### Prompt 10

Find the average amount of freight across all orders, broken out by country of *employee*. (**NOT `ShipCountry`**.) How much higher is the average freight from UK employees than the average freight from US employees?

> For a bonus, round the freight to the nearest whole number and rename the column `Average Freight`.

In [ ]:
con = sqlite3.connect('data/Northwind_small.sqlite')

sql = """

"""

pd.read_sql_query(sql, con)

**Prompt 10 Answer**:

---

Once you're done, run the following cell to close your connection to the database:

In [ ]:
con.close()